@model Dictionary<string, string>
@{
}

@foreach (var kvp in Model)
{
    <li class="nav-item">
        <a class="nav-link text-dark" style="padding: 0 0.75rem 0 0.75rem;" asp-page="@kvp.Value">@kvp.Key</a>
    </li>
}
