/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.ew-popout-box {
    box-shadow: 0 0.25rem 0.75rem gray;
    background-color: rgba(255,255,255,0.7);
}

#ew-navbar {
    line-height: 15px;
}

#ew-footer {
    line-height: 40px;
}

#ew-container-top,
#ew-container-bottom {
    min-height: 75vh;
}

#ew-container-bottom {
    background-color: rgb(255, 255, 255, 0.75);
}

/* */
nav a:hover {
    color: #007bff !important;
    text-decoration: none;
}


/* default styling past this point, ignore for now */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
