@page
@model PersonalWebsite.Pages.AboutModel
@{
}


@section Top {
    <div class="d-flex" style="margin-top: 30vh; margin-left: 10vw; flex-flow: column;">
        <div>
            <div style="font-size: 64px; font-weight: bold;">Ethan Weber</div>
            <div style="font-size: 32px; font-weight: lighter;">Student, Developer, Cool Guy</div>
        </div>
    </div>
}

@section Bottom {
    <div class="d-flex justify-content-center" style="padding: 5% 25%; font-size: 1.25rem;">
        <div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur in ex et consequat. Nam vitae fringilla dui. Mauris nisi nulla, auctor non dui in, venenatis tempor dolor. Curabitur tincidunt egestas libero, et tincidunt ante mollis imperdiet. Nullam in justo vel lacus ultrices dapibus id nec urna. Praesent hendrerit, nunc nec fringilla egestas, arcu odio pretium dolor, quis tempus lorem lorem quis nisi. Duis sollicitudin, mi ut laoreet aliquet, justo nunc bibendum odio, sit amet tincidunt nibh odio id justo. Curabitur libero tellus, ullamcorper id turpis semper, viverra gravida dui.
            </p>
            <p>
                Aliquam fringilla mauris velit, id venenatis tellus varius ut. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut tincidunt, lorem vitae ultricies faucibus, ex est molestie urna, interdum vulputate turpis est in felis. Ut sodales nunc sed felis sagittis, at porttitor ex auctor. Nulla malesuada egestas ipsum, sed porta leo tempor a. Suspendisse eu orci eget metus ultricies gravida. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque sed sapien in libero viverra porta ac vitae ligula. Maecenas massa risus, efficitur eu scelerisque nec, elementum eu mauris. Vestibulum venenatis venenatis neque. Donec efficitur hendrerit lectus a maximus. Sed porttitor leo leo, vel pretium tortor suscipit mollis.
            </p>
        </div>
    </div>
}