@page
@model PersonalWebsite.Pages.AboutModel
@{
}


@section Top {
    <div class="d-flex" style="margin-top: 30vh; margin-left: 10vw; flex-flow: column;">
        <div>
            <div style="font-size: 64px; font-weight: bold;">Ethan Weber</div>
            <div style="font-size: 32px; font-weight: lighter;">Student, Developer, Cool Guy</div>
        </div>
    </div>
}

@section Bottom {
    <div class="d-flex justify-content-center" style="padding: 5% 25%; font-size: 1.25rem;">
        <div>
            @* 
                What are you doing, and how did you get here (in your career)?
            *@
            <p>
                Ethan Weber is a senior Computer Science student at the 
                <a style="color: #d00000;" href="https://www.unl.edu/">
                    University of Nebraska - Lincoln
                </a>, graduating in May, 2022. 
                He is a passionate learner and experienced ASP.NET web developer. 
                With over three years of experience co-developing internal company websites 
                and shaping the design of said websites for manufacturing plants worldwide, 
                he thrives on a dynamic team that solves real-world problems for 
                <a href="https://www.molex.com/molex/home" style="color: #e30536">
                    Molex, Inc.
                </a>
            </p>

            @*
                In terms of the work you do, what aspects are you most passionate about?
            *@
            <p>
                Ethan is driven by his hunger for knowledge and is dedicated to the development
                of his personal understanding of software and website development.
                This dedication led to his recent team-based endeavour on extending the functionality
                of a Learning Assistant Program website for his university's Department of Computer Science and Engineering.
            </p>
        </div>
    </div>
}