@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid">
    @* Display my name *@
    <div class="d-flex" style="margin-top: 30vh; margin-left: 10vw; flex-flow: column;">
        <div>
            <div style="font-size: 64px; font-weight: bold;">Ethan Weber</div>
            <div style="font-size: 32px; font-weight: lighter;">Student, Developer, Cool Guy</div>
        </div>
    </div>
</div>